<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/app.css">
    <title>Book information</title>
</head>

<body>

    <h1>
        <%= book.title %>
    </h1>
    <p><strong>ISBN:</strong>
        <%= book.isbn %>
    </p>
    <p><strong>Number of Pages:</strong>
        <%= book.num_of_pages %>
    </p>
    <p><strong>Summary:</strong>
        <%= book.summary %>
    </p>
    <p><strong>Publisher:</strong>
        <%= book.publisher %>
    </p>
    <p><strong>Language:</strong>
        <%= book.language %>
    </p>
    <p><strong>Authors:</strong>
        <%= book.authors %>
    </p>
    <p><strong>Categories:</strong>
        <%= book.categories %>
    </p>
    <p><strong>Keywords:</strong>
        <%= book.keywords %>
    </p>
    <p><strong>Average Rating:</strong>
        <%= book.avg_rating %>
    </p>
    <p><strong>Book Cover:</strong>
        <img src="<%= book.image_url %>" alt="Book cover">
    </p>

    <form action="/user/book_reviews" method="post">
        <input type="hidden" name="isbn" value="<%= book.isbn %>">
        <button type="submit">View Reviews</button>
    </form>

    <br>

    <h2>Available at Schools:</h2>
    <table>
        <thead>
            <tr>
                <th>School Name</th>
                <th>Total Copies</th>
                <th>Available Copies</th>
            </tr>
        </thead>
        <tbody>
            <% for (const school of schools) { %>
                <tr>
                    <td>
                        <%= school.name %>
                    </td>
                    <td>
                        <%= school.total_copies %>
                    </td>
                    <td>
                        <%= school.available_copies %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <br>

    <h2>Reserve or Borrow this book:</h2>
    <form action="/user/book_request" method="post">
        <input type="hidden" name="isbn" value="<%= book.isbn %>">

        <label for="user">User:</label>
        <select id="user" name="user">
            <% for (const user of users) { %>
                <option value="<%= user.username %>">
                    <%= user.username %> (<%= user.first_name %>
                            <%= user.last_name %>)
                </option>
                <% } %>
        </select>

        <label for="school">School:</label>
        <select id="school" name="school">
            <% for (const school of schools) { %>
                <option value="<%= school.school_id %>">
                    <%= school.name %>
                </option>
                <% } %>
        </select>

        <button type="submit" name="action" value="reserve">Reserve</button>
        <button type="submit" name="action" value="borrow">Borrow</button>
    </form>

</body>